
/**
    example css file, not required to style autocomplete plugin, styles usedd 
    purely to set up example code

    @author Stewart Anderson <git@stewart-anderson.co.uk>
*/


body{
    margin: 0;
    font: normal 1em/1.5em Helvetica, Arial, 'San Serif', Serif;
    color: #696969;
}
div{
    margin: 20px auto;
    width: 960px;
}
fieldset{
    padding: 0;
    border: 0;
}
